.Hero {
  position: relative;
  height: 600px;
  width: 100vw;

  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $overlay-color;
    z-index: 1;
  }
  .image {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .content {
    @include flex-container(column, center, center, 20px);
    padding: $general-padding;
    position: absolute;
    width: 100%;
    height: 100%;
    color: $title-light;
    font-size: 2rem;
    z-index: 2;
    font-family: $title-font;

    .text {
      max-width: 700px;
    }
    .button {
      color: $title-light;
    }
  }
}

@media screen and (min-width: 800px) {
  .Hero {
    height: 700px;
  }
}
