.ActivitySection {
  @include flex-container(column, center, center, 30px);
  padding-bottom: 70px;

  .title {
    @include section-title;
  }

  .cardList {
    @include flex-container(row, center, center, 30px, wrap);

    height: auto;
    padding: 10px;
  }
}
