.Cities {
  padding: $general-padding;

  .title {
    text-align: center;
    font-size: 2rem;
    padding: 30px 10px;
  }
  .cardList {
    @include flex-container(row, center, center, 25px, wrap);
  }
}
