.Search {
  @include flex-container(column, center, center);

  .title {
    // padding: $general-padding;
    text-align: center;
    padding-top: 150px;
  }

  .cardList {
    @include flex-container(row, center, center, 30px, wrap);
    height: auto;
    padding: 10px;
    padding-bottom: 360px;

    .errorMsg {
      font-size: 1.4rem;
      font-style: italic;
      padding: 20px;
    }
  }
}
