.InputEl {
  @include flex-container(row, flex-start, center);
  margin: 50px 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  width: 280px;
  border-radius: 12px;
  background-color: white;

  .icon {
    font-size: 1.3rem;
    color: $contrast-color;
    margin-left: 8px;
    transition: all $fastAnimation ease;
  }
  .input {
    border: none;
    background-color: transparent;
    padding: 15px 18px;
    outline: none;
    width: 220px;
    font-size: 1rem;
  }

  &:hover .icon {
    transform: scale(1.2);
  }
}
