.CityCard {
  position: relative;
  height: 300px;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  flex: 0 0 auto;
  cursor: pointer;

  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    z-index: 1;
    background-color: $overlay-color;
    display: none;
  }
  .background {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  .title {
    width: 100%;
    position: absolute;
    z-index: 2;
    bottom: 20%;
    color: $title-light;
    font-size: 1.4rem;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    display: none;
  }
}

.CityCard:hover .overlay {
  display: block;
}

.CityCard:hover .title {
  display: block;
}
