.Activity {
  @include flex-container(column, center, center);
  padding: 100px 40px;

  .image {
    align-self: center;
    height: 50vh;
    width: 80vw;
    position: relative;
    margin: 0;

    .background {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $overlay-color;
      z-index: 1;
    }
    .title {
      position: absolute;
      z-index: 2;
      color: $title-light;
      font-size: 5rem;
      bottom: 30%;
      right: 10%;
    }
  }
  .content {
    padding: $general-padding;
    font-size: 2rem;
  }
  .errorMsg {
    padding: 250px 20px;
  }
}
